body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    /* background-color: #003366; */
    background-color: #2F343A;
    display: flex;
    z-index: 10;
    justify-content: space-between;
}

.logo {
    color: white;
    margin-left: 10px;
}

header a {
    color: white;
    /* color: goldenrod; */
    text-decoration: none;
}

header .logo a {
    display: flex;
    margin-left: 10px;
    font-size: 0.9em;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
}

nav ul li a {
    margin-right: 20px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid white;
}

#about-section {
    display: flex;
    flex-direction: column;
    background-color: #B4D8E7;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    background: #003366;
    background-repeat: no-repeat;
    padding: 30px 0 30px 0;
}

#profile-image {
    width: 50vh;
    border: 50px transparent;
    object-fit: contain;
    /* align-self: flex-start; */
    border-radius: 50%;
}

#bio-intro {
    font-weight: bold;
    font-size: 7vh;
    padding-top: 50px;
    color: goldenrod;
}

#bio-college {
    font-weight: bold;
    font-size: 2vh;
    line-height: 30px;
    margin-right: 20px;
    color: goldenrod;
}

#skills {
    font-weight: bold;
    font-size: 5vh;
}

.tools-desc {
    display: flex;
    justify-content: center;
    text-align: center;
}

#tools-intro {
    font-weight: bold;
    font-size: 2vh;
    align-self: center;
}

.tools-grid {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    max-width: 1280px;
    gap: 4rem;
    margin: 0 auto;
    margin-bottom: 6rem;
}

#git-png {
    display: block;
    width: 100%;
    object-fit: cover;
}

#node-png {
    display: block;
    width: 100%;
    object-fit: cover;
}

#as-png {
    display: block;
    width: 100%;
    object-fit: cover;
}

.icon-name {
    font-weight: bold;
    font-size: 2vh;
}

#project-section {
    display: flex;
    flex-direction: column;
    background-color: #F8E4CC;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-bottom: 80px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 45vh);
    background-repeat: no-repeat;
}

#project-intro {
    font-weight: bold;
    font-size: 4vh;
}

.project-img {
    border-radius: 1%;
    border: 20px solid #2F343A;
}

@media only screen and (max-width: 600px) {
    .project-img {
        border-radius: 1%;
        height: 50%;
        margin: 50px;
        width: 50%;
        border: 5px solid #2F343A;
    }
}

.project-img-tile {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

.project-text-tile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-desc {
    font-size: 2vh;
    font-weight: bold;
}

.project-title {
    color: black;
    font-weight: bold;
    font-size: 4vh;
    /* margin-left: -10em; */
}

#contact-section {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2F343A;
    width: 100%;
}

#contact-section a {
    color: white;
}

footer {
    background-color: #2F343A;
    display: flex;
    bottom: 0;
    left: 0;
    justify-content: space-between;
}

footer p {
    background-color: #2F343A;
}

.sm-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.footer-left {
    margin: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    height: auto;
    width: 100%;
    color: white;
}

.footer-right {
    display: flex;
}